

*,
*::before,
*::after {
	box-sizing: border-box;
}



figure {
	margin: 0;
}

img {
	border-radius: 2px;
	width: 100%;
	height: auto;
}

h1 {
	text-align: center;
	line-height: 3rem;
}

ul li,
ol li {
	margin: 1rem 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		"main-photo"
		"recipe";
	column-gap: 2rem;
	margin: 1rem;
	min-height: 100vh;
	background: #fff;
	box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
	padding: 1rem;
}

.main-photo {
	grid-area: main-photo;
}

.recipe-container {
	grid-area: recipe;
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.container {
		margin: 10px auto;
		max-width: 980px;
		grid-template-areas: "recipe main-photo";
		grid-template-columns: 8fr 4fr;
		grid-template-rows: 1fr;
		padding: 2rem;
	}
}


.container {
    border-radius: 3%;
    background-color: rgba(145, 196, 196, 0.445);
    font-weight: bold;
  
}

.gobackbtn{
	cursor: pointer;
    float: left;
    font-weight: bold;
    border: 2px coral;
    font-size: 17px;
    font-size: 17px;
    background-color: #3be73b77;
    padding: 10px;
    border-radius: 10px;
    margin-left:  10%;
  }