body {
    background-color: rgb(209, 243, 243);
    height: inherit;
    padding-top: 5%;
  }



  .recipes-title {
      font-size: 45px;
      font-family: sans-serif;
      font-weight: bolder;
      color: black;
      margin-bottom: 5%;
      padding-left: 3.5%;
  }


