
<body>
    <div *ngIf="!signup" class="login-page">
        <div class="form">
          <form [formGroup]="form" class="login-form">
            <input type="text" formControlName="email" placeholder="name"/>
            <input type="password" formControlName="password" placeholder="password"/>
            <button (click)="onSubmit()" >login</button>
            <p (click)="onSignUP()" class="message">Not registered? <a >Create an account</a></p>
            <div style="width: fit-content;" class="google">
                <button (click)="loginWithGoogle()"  class="lgnw ggl-btn">Login with Google</button>
            </div>
          </form>
        </div>
    </div>

    <div *ngIf="signup" class="login-page">
      <div class="form">
        <form class="register-form">
          <input type="text" placeholder="name"/>
          <input type="password" placeholder="password"/>
          <input type="text" placeholder="email address"/>
          <button>create</button>
          <p class="message" (click)="onLogin()">Already registered? <a >Sign In</a></p>
        </form>
      </div>
  </div>

</body>


